select {
    background-color: #1a1b2e;
    color: #e0faff;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #00f0ff;
    border-radius: 8px;
    margin-top: 10px;
    max-width: 10rem;
    font-weight: bold;
    transition: border 0.3s;
  }

  select:focus{
    outline: none;
    border-color: #00ffff;
    box-shadow: 0 0 5px #00ffff77;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }

  .card {
    background: #1a1b2e;
    border: 1px solid #2a2b3f;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .card:hover {
    background-color: #23243a;
    transform: sacle(1.03);
    border: 1px solid #00f0ff;
    box-shadow: 0 6px 14px rgba(0, 255, 255, 0.2);
  }

  .card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .card-content {
    padding: 15px;
  }

  .card h3 {
    margin: 0;
    color: #111;
    font-size: 18px;
  }

  .card p {
    margin: 6px 0;
    color: #555;
    font-size: 15px;
  }

  .price {
    font-weight: bold;
    color: #007bff;
    font-size: 18px;
  }