body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

header{
    background-color: limegreen;
    color: black;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: beige;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 15px;
}